@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}                                                                                                                                                                                                                                                               


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.bx-menu{
    font-size: 40px;
}


#menu, .con{
    display: none;
}

nav{
    background-color: white;
    padding: 25px 20px;
    position: absolute;
    z-index: 2;
    top: 91px;
    left: -200px;
    transition: all 0.5s ease-in-out;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

header a{
    color: #242e52;
    font-weight: bold;
}

header .com{
    color: rgba(36, 46, 82, 0.6);
}

header .con{
    font-weight: lighter;
    box-shadow: 0px 12px 16px -7px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 12px 16px -7px rgba(0, 0, 0, 0.5);
}

#menu:checked ~ nav{
    left: 0px;
}


main{
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2em;
}


.principio{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.img{
    width: 300px;
    height: 300px;
    background-image: url('../img/padel-intro.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.titulos{
    width: 350px;
    height: 400px;
    text-align: right; 
}

.titulos h2{
    color: #232c50;
    font-size: 40px;
    padding: 20px 20px;
}

.titulos p{
    font-size: 13px;
    padding: 5px 20px 30px;
}

.titulos a{
    background-color: #8b48bf;
    color: white;
    padding: 10px 35px;
    border-radius: 3em;
}


.medio{
    background-color: #3cddf3;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.h3{
    width: 300px;
    height: 100px;
    text-align: left;
}

.h3 h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 15px;
}

.p{
    width: 500px;
    height: 100px;
    text-align: left;
}

.p-2{
    width: 500px;
    height: 100px;
    text-align: left;
    display: none;
}

.p p{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding: 0 20px 0 20px;
}

.p-2 p{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    padding: 0 20px 0 20px;
}


.columnas{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.division{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.recuadro{
    width: 500px;
    height: 250px;
}

.flex{
    width: 350px;
    height: 50px;
    display: flex;
}

.num{
    background-color: #8b48bf;
    width: 55px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15px;
    z-index: 2;
    border-radius: 3em;  
}

.num p{
    color: white;
}

.titulo{
    background-color: rgba(139, 72, 191, 0.3);
    width: 295px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.titulo p{
    font-weight: bold;
    padding-left: 20px;
}

.parrafo p{
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    padding: 30px 30px;
}

h2{
    color: #242e53;
    font-size: 30px;
    padding-bottom: 100px;
}

.cards{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta, .none{
    background-color: rgba(185, 185, 193, 0.1);
    width: 450px;
    height: 250px;
}

.none{
    display: none;
}

.perfil{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
    z-index: 2;

}

.text{
    text-align: center;
}

.text h3{
    padding-bottom: 40px;
    
}

.text p{
    font-weight: lighter;
    padding: 0 20px;
}


main a{
    background-color: #8b48bf;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 10px 35px;
    border-radius: 3em;
}


.go{
    background-color: #3cddf3; 
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.go h3{
    color: white;
    font-size: 40px;
    text-align: center; 
}

.go a{
    background-color: #232c50;
    color: white;
    padding: 10px 35px;
    border-radius: 3em;
    box-shadow: 0px 12px 16px -7px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 12px 16px -7px rgba(0, 0, 0, 0.5);
}


.unset{
    position: unset;
    background-color: unset;
}

.unset a{
    color: white;
}

.nav{
    width: 500px;
    height: 150px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.left{
    width: 350;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 40px 20px;   
}

.logo{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.redes{
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
}

.redes .bxl-facebook-square, .bxl-youtube, .bxl-twitter, .bxl-pinterest, .bxl-instagram{
    color: white;
    font-size: 25px;
    letter-spacing: 1.5em;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

form{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

form .barra{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 3em;
    border: none;  
}

form .boton{
    background-color: #8b48bf;
    color: white;
    width: 60px;
    height: 40px;
    font-weight: lighter;
    border-radius: 3em;
    border: none;
}

footer{
    background-color: #1e1e1e;
    width: 100vw;
    height: 450px;    
}

footer p{
    color: white;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
}


@media (min-width: 1000px){
    header label{
        display: none;
    }

    header .con{
        display: unset;
    }

    header nav{
        background-color: none;
        padding: 25px 20px;
        position: unset;
        z-index: unset;
        top: unset;
        left: unset;
        transition: none;   
    }

    header ul{
        flex-direction: unset;
        gap: 3em;
    }

    header .con{
        background-color: #8b48bf;
        color: white;
        padding: 10px 35px;
        border-radius: 3em;
    }


    .principio{
        gap: 0em;
    }

    .img{
        width: 50%;
        height: 80%;
        background-position: 4em;
    }

    .titulos{
        width: 50%;
        height: 80%;
    }

    .titulos:hover{
        cursor: pointer;  
    }

    .titulos h2{
        font-size: 80px;
        padding: 20px 80px;
    }

    .titulos p{
        font-size: 30px;
        padding: 5px 80px 30px;
    }

    .titulos .contact{
        padding: 20px 80px;
    }


    .medio{
        background-color: #8b48bf;
        justify-content: center;
    }

    .h3{
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    .h3 h3{
        font-size: 60px;
        padding: 20px 90px;
    }

    .p{
        background-color: #242e52;
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .p{
        display: none;
    }

    .p-2{
        width: 50%;
        height: 80%;
        display: unset;
    }

    .p-2 p{
        font-size: 30px;
        padding: 30px 30px;
    }


    .columnas{
        height: 650px;;
    }

    .division{
        background-color: #fafafa;
        height: 600px;
    }

    .recuadro{
        width: 600px;
    }

    .parrafo p{
        font-size: 20px;
    }

    .titulo{
        background-color: unset;
    }


    main h2{
        font-size: 40px;
    }


    .none{
        display: unset;
    }

    .more{
        padding-bottom: 200px;
    }


    .more a:hover{
        opacity: 0.7;
    }


    .go{
        background-color: #8b48bf;
    }

    .go h3{
        width: 500px;
        height: 200px;
        font-size: 40px;
        text-align: left;
        padding-top: 30px;
    }

    .go a{
        background-color: white;
        color: #8b48bf;
    }

    
    .left{
        flex-direction: column;
        gap: 10em;
    }

    .redes{
        justify-content: unset;
        padding-left: 120px;
    }

   .redes .bxl-facebook-square, .bxl-youtube, .bxl-twitter, .bxl-pinterest, .bxl-instagram{
        letter-spacing: 0.5em;
    }


    footer{
        height: 350px; 
    }

    footer p{
        text-align: right;
        padding-right: 100px;
    }
}