@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}                                                                                                                                                                                                                                                               

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.bx-menu{
    font-size: 60px;
}


#menu, .con{
    display: none;
}

nav{
    position: absolute;
    z-index: 2;
    top: 91px;
    left: -200px;
    background-color: white;
    padding: 25px 20px;
    transition: all 0.5s ease-in-out;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

header a{
    color: #242e52;
    font-weight: bold;
}

header .com{
    color: rgba(36, 46, 82, 0.6);
}

#menu:checked ~ nav{
    left: 0px;
}

main{
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2em;
}

.principio{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.img{
    width: 300px;
    height: 300px;
    background-image: url('../img/padel-intro.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.titulos{
    text-align: right;
    width: 350px;
    height: 400px;
}

.titulos h2{
    font-weight: bold;
    font-size: 40px;
    padding: 20px 20px;
}

.titulos p{
    font-weight: bold;
    padding: 5px 20px 30px;
    font-size: 13px;
}

.titulos a{
    padding: 10px 35px;
    background-color: #8b48bf;
    border-radius: 3em;
    color: white;
}



.medio{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3cddf3;
}

.h3{
    width: 300px;
    height: 100px;
    text-align: left;
}

.h3 h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-left: 15px;
}

.p{
    width: 500px;
    height: 100px;
    text-align: left;
}

.p p{
    color: white;
    font-size: 15px;
    padding: 0 20px 0 20px;
}



.columnas{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.division{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.recuadro{
    width: 500px;
    height: 250px;
}

.flex{
    width: 350px;
    height: 50px;
    display: flex;
}

.num{
    width: 55px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15px;
    z-index: 2;
    border-radius: 3em;
    background-color: #8b48bf;
}

.num p{
    font-weight: bold;
    color: white;
}

.titulo{
    width: 295px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: rgba(139, 72, 191, 0.3);
}

.titulo p{
    font-weight: bold;
}

.parrafo p{
    text-align: left;
    font-size: 15px;
    padding: 30px 30px;
}

h2{
    font-weight: bold;
    font-size: 30px;
    padding: 50px 50px;
}

.cards{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta, .none{
    width: 450px;
    height: 250px;
    background-color: rgba(185, 185, 193, 0.5);
}

.none{
    display: none;
}

.perfil{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
    z-index: 2;

}

.text{
    text-align: center;
}

.text h3{
    font-weight: bold;
    padding-bottom: 40px;
    
}

.text p{
    padding: 0 20px;
}

main a{
    padding: 10px 35px;
    background-color: #8b48bf;
    border-radius: 3em;
    color: white;
}

.go{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3cddf3;
}

.go h3{
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 40px;
}

.go a{
    padding: 10px 35px;
    background-color: #232c50;
    border-radius: 3em;
    color: white;
}

.unset{
    position: unset;
    background-color: unset;
}

.unset a{
    color: white;
}

.nav{
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}


.left{
    width: 350;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 40px 20px;   
}

.logo{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.redes{
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.redes .bxl-facebook-square, .bxl-youtube, .bxl-twitter, .bxl-pinterest, .bxl-instagram{
    color: white;
    font-size: 25px;
    letter-spacing: 1.5em;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

form{
    padding-top: 30px;
}

form .barra{
    width: 250px;
    height: 40px;
    border-radius: 3em;
    border: unset;
    padding-left: 10px;
}

form .boton{
    width: 60px;
    height: 40px;
    border-radius: 3em;
    border: unset;
    background-color: #8b48bf;
    color: white;
}

footer{
    width: 100vw;
    height: 450px;
    background-color: #1e1e1e;  
}

footer p{
    text-align: center;
    color: white;
    padding-top: 30px;
}